<style>
  .message-content {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;

    color: #f4ede8;
    background: #312E38;

    box-sizing: border-box;
  }

  img {
    margin-left: 50%;
    margin-bottom: 30px;
    transform: translateX(-50%);
  }

  button {
    padding: 8px 16px;
    background: #ff9000;
    border: 1px solid #ff9000;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.1s;
  }

  button:hover {
    padding: 8px 16px;
    background: #e07f00;
    border-color: #e07f00;
  }

  a {
    color: #312E38;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  span {
    display: block;
    font-size: 14px;
  }
</style>

<div class="message-content">
  <img src="https://lh3.googleusercontent.com/fQY4sOPBjrE2iAz3dQtbEfJX6AVkzOdQtD6MQFYuyShKTH8PcSXaM4N4kDL3YZ83maMtMYejVZPFw7p6b-9EEYHQ7wfH9OhvsgZ2d31Hxle8RUbnLOk4Dit8A4gnEne1T3UaStcQj_ni3KEp_VKfz0ZHR3vfj0LDJSL4ReUsdThk9PCZs_0ye6bgy5IPG35R7w6JjYzZ2mNv47VZ39SU2QEElHIdOPcuxHU3VfRYFfnnP_z-gUC4_ZCXphua8VwMtcus-Izs5ZWBXiF4vwqD7NYionLMO-dzpF-5eUd8OQQ9ychJPfxflM2CnRZXOgGJn8d_3Suxl1qhCQHrUaK52WU3j8Vdjvi_isizRXribbwMYdm0PVmAhGaQNSFgCYStEhjDZRjlTVjbxgzLzwIHlBni4eU3eKoNE8JNaO3ItzOqhopgl1EJIn3yLAqBWI4ZtzFyxXGKLss7sAUa8TEJ-_GAoOePig0QP5ZJHBaKZtJs4osWY-8XCUinEDymbmPH7QnbluXee0zgGcdw_r1s9UMcKrt6zDcIf6b0l6sd405Nbm-hSWjLq_skzfPR2dx2iVcrkrsv1MZFIb2unriXN4Fy0fYA4jpZiK2BoIp-AMHN7XxNIjCD1337OLjfWN6y-dgJAzzELO8MHPKy0p21yNFS1fp3OLeo4buVSTsyDS9at9mWWco0nlxrPIQif4t6lHcJ-IWTYxlMH3M0VfnQKBgc=w206-h120-no?authuser=0" alt="GoBarber" />

  <p>Olá, {{name}}!</p>

  <p>Uma solicitação de troca de senha foi feita para a sua conta.</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha</p>

  <button>
    <a href="{{link}}">Resetar minha senha</a>
  </button>

  <p>Se não foi você, então desconsidere esse email.</p>

  <div class="footer">
    <span>Atte.,</span>
    <span>Equipe GoBarber</span>
  </div>
</div>
